Package: com.autruche.ythide
Name: YTHide
Depends: mobilesubstrate
Version: 1.5.3
Architecture: iphoneos-arm
Description: Remove some crap from the Youtube app. Github: https://github.com/Autruche-IOS/YTHide.
Maintainer: Autruche <autruche@mmoi.ml>
Author: Autruche <autruche@mmoi.ml>
Section: Tweaks
